*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #222;
    color: #fff;
}

.header {
    width: 100%;
    border-bottom: 2px solid #32b9cd;
    height: 50px;
}

.container {
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    list-style: none;
    
}

.navbar li{
     margin-right: 10px;
}

.banner {
    height: 200px;
    background-image: url(https://media.istockphoto.com/id/1276645382/pt/foto/chocolate-assortment-background-top-view-of-different-kinds-of-chocolate.jpg?s=612x612&w=0&k=20&c=cqIVH2bzYBMIFmd87S3441X_5DLhk1p8pgjKsULcl1c=);
}

.banner .container {
    justify-content: center;
}

.banner .container p{
    font-size: 30px;
}
.social{
    height: auto;
    background-color: #46010181;
    padding: 40px 0;
   
}
.social .container .card{
    width: 200px;
    color: #222;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}
.social .container .card img{
    width: 150px;
}

.social .container .card h4{
    font-size: 24px;
}
h4 {
 color: #fff;
}
p {
 color :#fff
} 
