*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #ffffffdc;
    color: #ffffffca;
}

.header {   
    width: 100%;
    border-bottom: 2px solid #fdfcfc;
    height: 50px;
    position: fixed;
    background-color: #222;
}

.container {
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color: #222;
}

.navbar {
    align-items: center;
    display: flex;
    list-style: none;
    color: antiquewhite;
}

.navbar li{
     margin-right: 10px;
}

.banner {
    font-family: 'Times New Roman', Times, serif;
    height: 200px;
    background-image: url(imagens/PrimeiraArea.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .container {
    justify-content: center;
}

.banner .container p{
    font-size: 30px;
}
.social{
    
    height: auto;
    background-color: #460101ce;
    padding: 40px;
   background-image: url();
}
.social .container .card{
    width: 200px;
    color: #222;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}
.social .container .card img{
    width: 150px;
    height: 200px;
}

.social .container .card h4{
    font-size: 24px;
}
h4 {
 color: #fff;
}
p {
 color :#fff

}
.card{
    width: 50vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
} 
.social2 {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.img-card {
    width: 200px;
    /* height: 250px; */
} 
.rodape{
    width: 100%;
    height: 200px;
    background-color:#222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 300px;
    height: 60px;
    background-image: url(imagens/Cópia\ de\ Protótipo\ Donas\ .png);
    background-repeat: no-repeat;
}
.rede-social {
    display: flex;
    /* justify-content: ; */
    margin-top: 15px;
}
.child-rodape{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.margem{
    margin-left: 10px;
    margin-right: 10px;
    /* color: #222; */
}
.img-rede {
    width: 35px;
    height: 35px;
}
