*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #ffffffdc;
    color: #ffffffca;
}

.header {   
    width: 100%;
    border-bottom: 2px solid #fdfcfc;
    height: 50px;
}

.container {
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navbar {
    align-items: center;
    display: flex;
    list-style: none;
    color: rgb(76, 1, 1);
}

.navbar li{
     margin-right: 10px;
}

.banner {
    font-family: 'Times New Roman', Times, serif;
    height: 200px;
    background-image: url(imagens/PrimeiraArea.png);
}

.banner .container {
    justify-content: center;
}

.banner .container p{
    font-size: 30px;
}
.social{
    
    height: auto;
    background-color: #46010181;
    padding: 40px;
   background-image: url();
}
.social .container .card{
    width: 200px;
    color: #222;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}
.social .container .card img{
    width: 150px;
    height: 200px;
}

.social .container .card h4{
    font-size: 24px;
}
h4 {
 color: #fff;
}
p {
 color :#fff
} 
.social2 {
    height: 200px;
}
